#**#Ecommerce Data**

##**Import Libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

##**Reading Data**
df=Ecommerce Data set

In [4]:
df=pd.read_excel('/content/FestMan Ecommerce Data Challenge.xlsx')
df.head()

,OrderDate,OrderID,Delivery Date,CustomerID,Customer Age,Customer Gender,Location,Zone,Delivery Type,Product Category,SubCategory,Product,Unit Price,Shipping Fee,Order Quantity,Sale Price,Status,Reason,Rating
0,2020-05-31,5136486,2020-06-04,230569424,57,M,Western,Zone 3,Express,Fashion,Girl's fashion,Fashion Girl's Dress Kids Children Newborn Bab...,125.0,10,2,125.0,Returned,Onsite -Description mismatch,2
1,2020-05-31,5136457,2020-06-12,230568182,24,F,Western,Zone 3,Standard Delivery,Health and beauty,Medical supplies and Equipment,Blood Pressure Monitor Digital Wrist BP Pulse ...,63.2,4,7,63.2,Returned,Product - Not fitting expectation,2
2,2020-05-31,5136465,2020-06-10,230567584,31,M,Weija,Zone 2,Standard Delivery,Health and beauty,Medical supplies and Equipment,Portable Blood Pressure Monitor - White,102.0,6,10,102.0,Delivered,NaN,3
3,2020-05-31,5136488,2020-06-05,230563788,62,F,Greater Accra,Zone 1,Express,Phones and Tablet,Mobile phones,Samsung A3 Core Dual SIM - 16GB HDD - 1GB RAM ...,387.0,7,7,387.0,Delivered,NaN,1
4,2020-05-31,5136449,2020-06-10,230563726,18,F,Weija,Zone 2,Shipped from Abroad,Fashion,Boy's fashion,Boys Sneakers Casual Kids Sports Shoes-Gold,120.0,12,9,120.0,Delivered,NaN,3

In [5]:
df.shape

(113000, 19)

In [6]:
df.columns

Index(['OrderDate', 'OrderID', 'Delivery Date', 'CustomerID', 'Customer Age',
       'Customer Gender', 'Location', 'Zone', 'Delivery Type',
       'Product Category', 'SubCategory', 'Product', 'Unit Price',
       'Shipping Fee', 'Order Quantity', 'Sale Price', 'Status', 'Reason',
       'Rating'],
      dtype='object')

In [7]:
obj_col_df=df.select_dtypes(include=object)
obj_col_df.columns

Index(['Customer Gender', 'Location', 'Zone', 'Delivery Type',
       'Product Category', 'SubCategory', 'Product', 'Status', 'Reason'],
      dtype='object')

In [8]:
numeric_col_df=df.select_dtypes(exclude=object)
numeric_col_df.columns

Index(['OrderDate', 'OrderID', 'Delivery Date', 'CustomerID', 'Customer Age',
       'Unit Price', 'Shipping Fee', 'Order Quantity', 'Sale Price', 'Rating'],
      dtype='object')

In [9]:
df.duplicated().sum()

0

In [10]:
df.isnull().sum()

OrderDate               0
OrderID                 0
Delivery Date           0
CustomerID              0
Customer Age            0
Customer Gender         0
Location                0
Zone                    0
Delivery Type           0
Product Category        0
SubCategory             0
Product                 0
Unit Price              0
Shipping Fee            0
Order Quantity          0
Sale Price              0
Status                  0
Reason              83355
Rating                  0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113000 entries, 0 to 112999
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   OrderDate         113000 non-null  datetime64[ns]
 1   OrderID           113000 non-null  int64
 2   Delivery Date     113000 non-null  datetime64[ns]
 3   CustomerID        113000 non-null  int64
 4   Customer Age      113000 non-null  int64
 5   Customer Gender   113000 non-null  object
 6   Location          113000 non-null  object
 7   Zone              113000 non-null  object
 8   Delivery Type     113000 non-null  object
 9   Product Category  113000 non-null  object
 10  SubCategory       113000 non-null  object
 11  Product           113000 non-null  object
 12  Unit Price        113000 non-null  float64
 13  Shipping Fee      113000 non-null  int64
 14  Order Quantity    113000 non-null  int64
 15  Sale Price        113000 non-null  float64
 16  Status            113000 non-null  object
 17  Reason            29645 non-null   object
 18  Rating            113000 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(6), object(9)
memory usage: 16.4+ MB

In [12]:
df.describe()

,OrderID,CustomerID,Customer Age,Unit Price,Shipping Fee,Order Quantity,Sale Price,Rating
count,1.130000e+05,1.130000e+05,113000.000000,113000.000000,113000.000000,113000.000000,113000.000000,113000.000000
mean,5.079973e+06,2.305156e+08,35.919673,297.045871,11.500434,5.334814,297.045871,2.729929
std,3.263155e+04,3.262048e+04,11.021883,791.260273,5.192076,2.924370,791.260273,1.355434
min,5.023455e+06,2.304591e+08,17.000000,15.000000,3.000000,1.000000,15.000000,1.000000
25%,5.051716e+06,2.304874e+08,28.000000,35.000000,7.000000,3.000000,35.000000,2.000000
50%,5.079970e+06,2.305156e+08,35.000000,75.000000,12.000000,5.000000,75.000000,3.000000
75%,5.108233e+06,2.305439e+08,43.000000,156.000000,16.000000,8.000000,156.000000,4.000000
max,5.136490e+06,2.305721e+08,87.000000,4700.000000,20.000000,10.000000,4700.000000,5.000000